openai==1.57.1
azure-functions==1.21.3
azure.storage.blob==12.24.0
azure.identity==1.17.0
azure.ai.textanalytics==5.3.0
azure-cosmos==4.9.0
llama-index==0.12.5
llama-index-embeddings-azure-openai==0.3.0
llama-index-llms-azure-openai==0.3.0
llama-index-readers-azstorage_blob==0.3.0
llama-index-multi-modal-llms-azure-openai==0.3.1
pydantic-settings==2.2.1
presidio-analyzer==2.2.355
